{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "prettier"
  ],
  "plugins": [
    "react",
    "react-hooks"
  ],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "serviceworker": true
  },
  "globals": {
    "ArrayBuffer": true,
    "Float32Array": true,
    "Uint8Array": true
  },
  "rules": {
    "no-unused-vars": "warn",
    "no-case-declarations": 0,
    "react/prop-types": 0
  }
}
